<!DOCTYPE html>
<html lang="ua">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>shpp-library</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="library Sh++">
    <link rel="stylesheet" href="styles/libs.min.css">
    <link rel="stylesheet" href="styles/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          crossorigin="anonymous"/>

    <link rel="shortcut icon" href="icons/library.png" type="image/x-icon">

</head>

<body data-gr-c-s-loaded="true" class="">

<%- include('./parts/header.ejs') %>

<section class="sidebar2">
    <div class="nav2">
        <div class="filterBlock">
            <a class="sidebar_item" href="" data-filter='new'>Нові</a>
            <a class="sidebar_item" href="" data-filter='popular'>Популярні</a>
            <a class="sidebar_item" href="" data-filter='all'>Всі</a>
        </div>
    </div>
</section>
<center>
    <h1>По запиту <%- search %> знайдено ...</h1>
</center>
<section id="main" class="main-wrapper">
    <script id="pattern" type="text/template">
        <div data-book-id="{id}" class="book_item col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <div class="book">
                <a href="/books/{id}"><img src="img/books/{id}.jpg" alt="{title}">
                    <div data-title="{title}" class="blockI">
                        <div data-book-title="{title}" class="title size_text">{title}</div>
                        <div data-book-author="{author}" class="author">{author}</div>
                    </div>
                </a>
                <a href="/books/{id}">
                    <button type="button" class="details btn btn-success">Читати</button>
                </a>
            </div>
        </div>
    </script>
    <div class="container">
        <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </div>
</section>
<center>
    <ul class="pager">
        <li>
            <a id="back" href="#">Назад</a>
        </li>
        <li>
            <a id="next" href="#">Показати більше</a>
        </li>
    </ul>
</center>

<%- include('parts/footer.ejs') %>


<script src="js/libs.min.js"></script>
<script src="js/jquery.matchHeight-min.js"></script>
<script src="search-page/js/common.js"></script>
<script src="search-page/js/sidebar.js"></script>
<script src="search-page/js/search.js"></script>
<script src="search-page/js/index.js"></script>
</body>

</html>